<%= link_to change_avatar_path(user_avatar), data: {turbo_method: "patch"} do%>
  <div class="avatar-card <%= "active" if user_avatar.equiped%>">
    <% url = user_avatar.avatar.img_url %>
    <%= image_tag(url, class:"avatar-img") %>
  </div>
<% end %>
