<h1>Question</h1>
<%= @question.title %>
<br>
<%= @user_question.done_flag %>
<br>
<% @question.answers.each do |answer|%>
  <%= link_to "valider", check_answer_path(answer.id) %>
  <%= answer.content %>
<% end %>
