<div class="balance-place">
  <div class="balance-show">
    <%= image_tag("pieceshow.png", class:"balance-img") %>
    <% if current_user %>
      <div class="balance-txt-place">
        <div class="balance-user"><%= current_user.balance %></div>
      </div>
    <% end %>
  </div>
</div>
