
<% if user_signed_in? %>
  <%= link_to "Déconnexion", destroy_user_session_path,class:"log-btn btn-Déconnexion" , data: {turbo_method: :delete} %>
<% end %>
<div class="nav-lq">
  <%= link_to image_tag("carte2.png", class: "nav-img-1"), user_worlds_path, class:"nav-btn" %>
  <%= link_to image_tag("coffre2.png", class: "nav-img-3"), shop_index_path, class:"nav-btn" %>

</div>
 <div class="birds">

    <div class="bird-container bird-container--one">
      <div class="bird bird--one"></div>
    </div>

    <div class="bird-container bird-container--two">
      <div class="bird bird--two"></div>
    </div>
  </div>
