<div id="leaves">
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
</div>

<div class="img-home1">
  <%= image_tag("logolearnquest.png") %>
</div>
<div class="img-home2">
  <%= image_tag("learnquestslogan.png")%>
</div>
<div class="birds">

	<div class="bird-container bird-container--one">
		<div class="bird bird--one"></div>
	</div>

	<div class="bird-container bird-container--two">
		<div class="bird bird--two"></div>
	</div>
</div>

<% if user_signed_in? %>
<%= link_to "Commence ton aventure !", profil_index_path, class: "custom-btn btn-2"  %>
<% else %>
<%= link_to "Connecte toi !", new_user_session_path, class: "custom-btn btn-2" %>
<% end %>
