<div class="img-home">
  <%= image_tag("LEARNQUEST.png") %>
</div>
<div class="img-home">
  <%= image_tag("Apprends en jouant!.png")%>
</div>

<% if user_signed_in? %>
<%= link_to "Commence ton aventure !", profil_index_path, class: "custom-btn btn-2"  %>
<% else %>
<%= link_to "Connecte toi !", new_user_session_path, class: "custom-btn btn-2" %>
<% end %>
