<% set_meta_tags og: { image: asset_url('logofb.png') } %>
<div id="leaves">
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
</div>

<div class="img-home1">
  <%= image_tag("learnquestslogoandslogan.png", class: "logo") %>

</div>

<div class="bouton-co">
  <% if user_signed_in? %>
    <%= link_to "Commence ton aventure !", user_worlds_path, class: "btn-2"  %>
  <% else %>
    <%= link_to "Connecte-toi !", new_user_session_path, class: "btn-2" %>
  <% end %>
</div>


<div class="birds">

	<div class="bird-container bird-container--one">
		<div class="bird bird--one"></div>
	</div>

	<div class="bird-container bird-container--two">
		<div class="bird bird--two"></div>
	</div>
</div>
