<div class="container" >

  <div class="row">
    <div class="col-7 d-flex justify-content-center align-items-end">
      <%= image_tag(@equiped_avatar.avatar.img_url, class: "avatar-profil", style: 'width:150px, height:150px;')%>
    </div>
    <div class="col-5">
      <%= image_tag("panneauquetes.png", class: "panneau-quete me-5", style: 'width:500px;')%>
        <div class="myquest"><% @user_quests.each do |user_quest| %>
        <ul>
        <li class="questnone"><i class="fa-solid fa-leaf medium" style="color: #c3cd17;"></i> <%= link_to user_quest.quest.title, user_world_path(user_quest.quest.world.user_worlds.find_by(user: current_user)) %>
          <% if user_quest.done_flag == true %>
            <i class="fa-sharp fa-solid fa-check" style="color: #37ff00;"></i>
          <% else %>
            <i class="fa-sharp fa-solid fa-clock" style="color: #ffb752;"></i>
          <% end %>
           </li>
        </ul>
        <% end %>
        </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="toto ms-5">
    <div>
      <% current_user.user_worlds.each do |user_world| %>
        <h2><%= link_to user_world.world.title, user_world_path(user_world), class: "card-world-index" %></h2>
      <% end %>
    </div>
   </div>
</div>
