
  <div class="pannel-place">

    <div class="panneau">
      <%= image_tag("panneau.png", class: "panneau-img") %>
      <div class="result-title">Resultats</div>
      <div class="result-infos">

        <% @user_questions.each do |user_question| %>
        <div class="result-info">
          <div class="qsnb">Question : <%= user_question.question.number %></div>
          <% if user_question.done_flag == true %>
            <i class="fa-sharp fa-solid fa-check" style="color: #37ff00;"></i>
            <div class="qs-reward">+<%=user_question.question.reward  %></div>
            <%= image_tag("piece.png", class: "reward-img") %>
            <% else %>
            <i class="fa-sharp fa-solid fa-xmark" style="color: #ff0000;"></i>
          <% end %>
        </div>

      <% end %>
      </div>
    </div>
  </div>



<% content_for :body_class, 'imgbackgroundworldshow' %>
