<h1>Quizz show</h1>


<%= link_to "Start", class: "custom-btn-start btn-start"  %>


<%@quiz.questions.each do |question|%>
  <%=question.title%>
  <%question.answers.each do |answer|%>
    <%=answer.content%>
    <%end%>
<%end%>
