.balance-show{
  width: 200px;
  position: relative;
  height: 100px;

}

.balance-img{
  width: 200px;
  height: 100px;
}

.balance-place{
  position: absolute;
  right: 3%;
  top: 6%;
}

.balance-user{
  color: yellow;

  font-family:Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 29px;
}

.balance-txt-place{
  position: absolute;
  right: 18%;
  top: 22%;
  text-align: center;
  font-family: "'Kalam', cursive";
  width: 66px;
  height: 42px;
}
