
button {
  margin: 20px;

}
.custom-btn-start {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;

}
.btn-start {

position: absolute;
display: flex;
align-items: center;
justify-content: center;
left: 32.08%;
right: 31.68%;
top: 59.78%;
bottom: 29.02%;
background: linear-gradient(180deg, #FFDA16 0%, #FF8A00 100%);
box-shadow: 0px 6px 4px #D75B01;
border-radius: 54px;
border: none;
height: 90px;
width: 450px;
color: $brown;
font-weight: bolder;
font-size: x-large;

}
.btn-start:before {
  height: 0%;
  width: 2px;
}
.btn-start:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}
