.nav-lq{
  height: 200px;
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.nav-btn{
  background-color: rgba(0,0,0,.4);
  border-radius: 30px;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.nav-img-3{
  width: 80px;
}

.nav-img-2{
  width: 100px;
}

.nav-img-1{
  width: 100px;
}
