.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.123);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
