.nav-lq{
  height: 200px;
  width: 600px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  z-index: 100;
}


.nav-btn {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: 0.3s;
}

.nav-btn:hover {
  width: 140px;
  height: 140px;
  transform: scale(1);
}

.nav-btn:not(:hover) {
  transform: scale(1);
}

.nav-img-1{
  width: 75px;
}

.nav-img-2{
  width: 75px;
}

.nav-img-3{
  width: 70px;
}

.log-btn {
  width: 70px;
  height: 10 0px;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
  padding: 5px 15px;
  font-weight: 500;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;

}

.btn-logout {

position: absolute;
display: flex;
align-items: center;
justify-content: center;
top: 30px;
left: 30px;
background: linear-gradient(180deg, #FFDA16 0%, #FF8A00 100%);
box-shadow: 0px 6px 4px #D75B01;
border-radius: 54px;
border: none;
height: 60px;
width: 120px;
color: $brown;
font-weight: bolder;
font-size: 16px;

}
.btn-logout:before {
  height: 0%;
  width: 2px;
}
.btn-logout:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}
