.shop-container{
  background-image: url('panneaumagasin.png');
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 445px;
  width: 600px;
  background-size: cover;
}

.shop-avatar {
  width: 150px;
}

.shop-fleches{
  width: 80px;
  height: 80px;
  transition: .3s;
  cursor: pointer;

}



.shop-center{
  position: absolute;
  display: flex;
  align-items: center;
}
.shop-bouton-img{
  width: 222px;
  height: 139px;
  margin-top: 12%;
}

.shop-balance-img{
  width: 218px;
  height: 110px;
  margin-top: 30%;
}

.avatar-price{
  height: 65px;
  font-family: 'Kalam', "cursive";
  font-size: 30px;
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.price-green{
  color: greenyellow;
  font-family: 'Kalam', cursive;
}

.price-red{
  color: red;
  font-family: 'Kalam', cursive;
}


.inventory{
  position:absolute;
  top: 20%;
  left: 10%;
  width: 500px;
  height: 500px;
  background-color: black;
  opacity: 0.5;
}



.shop-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}


.shop-buy{
  align-self: end;
}

.shop-buy-button{
  background-image: url('bouton-acheter-vide');
  background-size: cover;
  display: flex;
  height: 100px;
  width: 150px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;

}

.shop-action{
  transition: .3s;
  font-family: "Kalam", cursive;
  font-size: 27px;
  color: #FFFF;
  margin-left: 5%;
  }

.shop-index{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.inventory-img{
  display: flex;
  width: 555px;
  height: 400px;
  margin-top: 0;
}

.avatar-card{
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 8px;
  border: 2px solid transparent;
}

.avatar-img{
  width: 85px;
  height: 100px;
}

.avatar-card:hover{
  cursor: pointer;
  border: 2px solid yellow;
}

.inventory-avatars{
  position: absolute;
  top: 28%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.avatar-card.active{
  border: 2px solid greenyellow;
}

.reward-img1{
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 5px;
}
